/* Estilos de la factura */
#factura-container {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#factura-header h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

#factura-info p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

#factura-detalles th, #factura-detalles td {
    font-size: 14px;
    color: #333;
}

#factura-detalles th {
    background-color: #007bff;
    color: #fff;
}

#factura-total h3 {
    font-size: 20px;
    color: #007bff;
}

#print-button button {
    transition: background-color 0.3s ease;
}

#print-button button:hover {
    background-color: #0056b3;
}
